/*
MarketData Migration Proxy API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package go_client

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// WebSocketAPIService WebSocketAPI service
type WebSocketAPIService service

type ApiMarketDataStreamingGetRequest struct {
	ctx                                                      context.Context
	ApiService                                               *WebSocketAPIService
	piMarketDataWSSDomainModelsRequestMarketStreamingRequest *PiMarketDataWSSDomainModelsRequestMarketStreamingRequest
}

func (r ApiMarketDataStreamingGetRequest) PiMarketDataWSSDomainModelsRequestMarketStreamingRequest(piMarketDataWSSDomainModelsRequestMarketStreamingRequest PiMarketDataWSSDomainModelsRequestMarketStreamingRequest) ApiMarketDataStreamingGetRequest {
	r.piMarketDataWSSDomainModelsRequestMarketStreamingRequest = &piMarketDataWSSDomainModelsRequestMarketStreamingRequest
	return r
}

func (r ApiMarketDataStreamingGetRequest) Execute() (*PiSMarketDataWSSDomainModelsResponseMarketStreamingResponse, *http.Response, error) {
	return r.ApiService.MarketDataStreamingGetExecute(r)
}

/*
MarketDataStreamingGet WebSocket Endpoint for Market Data

Use this endpoint to establish a WebSocket connection and use following request body as a subscription request message over SignalR.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiMarketDataStreamingGetRequest
*/
func (a *WebSocketAPIService) MarketDataStreamingGet(ctx context.Context) ApiMarketDataStreamingGetRequest {
	return ApiMarketDataStreamingGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PiSMarketDataWSSDomainModelsResponseMarketStreamingResponse
func (a *WebSocketAPIService) MarketDataStreamingGetExecute(r ApiMarketDataStreamingGetRequest) (*PiSMarketDataWSSDomainModelsResponseMarketStreamingResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PiSMarketDataWSSDomainModelsResponseMarketStreamingResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WebSocketAPIService.MarketDataStreamingGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/market-data/streaming"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.piMarketDataWSSDomainModelsRequestMarketStreamingRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
