<div class="portfolio-header portfolio-sec-header">
  <img src="<%= theme.innerThemeImage %>" class="image-inner-theme" />
  <div class="theme-header">
    <img src="<%= theme.headerImage %>" />
    <div class="header-address">
      <h2>Pi Securities Public Company Limited</h2>
      <p>132 Sindhorn Tower 3 Level 20, 25, 27</p>
      <p>Wireless Road, Lumpini, Pathumwan,</p>
      <p>Bangkok 10330</p>
      <p>Tel: 02-205-7000</p>
    </div>
  </div>
</div>
