<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageRestore>
        <add key="enabled" value="True" />
    </packageRestore>
    <packageSources>
        <add key="Github" value="https://nuget.pkg.github.com/pi-financial/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <Github>
            <add key="Username" value="%GITHUB_PACKAGE_USER_NAME%" />
            <add key="ClearTextPassword" value="%GITHUB_PACKAGE_TOKEN%" />
        </Github>
  </packageSourceCredentials>
</configuration>
